{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | CSV Importer - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "customers" %}

    {% block extrastylesheets %}
        {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock extrastylesheets %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="{{ path('_eezeecommerce_admin_products_index') }}">Products</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#">Upload Your Products</a>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            Upload Your CSV Import
        </h3>

    {% endblock content %}

    {% block scripts %}
        {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
        %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}

        <script type="text/javascript">

            jQuery(document).ready(function() {
                $('.multi-select').multiSelect({
                    selectableHeader: "<div class='custom-header'>Available</div>",
                    selectionHeader: "<div class='custom-header'>Selected</div>",
                });
            })
        </script>

    {% endblock scripts %}